.main-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}



.button-change{
    padding: 12px 24px;
    gap: 10px;
    width: 200px;
    height: 48px;
    background: linear-gradient(93.75deg, #F7CE46 3.76%, #FBE27E 90.19%);
    border-radius: 4px;
    margin-bottom: 40px;
}

.title{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    color: #000000;
}

.response{
    color: #f60101;
    margin-bottom: 15px;
    width: 500px;
}


.input{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 16px;
    width: 399px;
    height: 48px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
}