<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Login</title>
  <link th:rel="stylesheet" th:href="@{/styles/css/profile.css}"/>
</head>

<body>

<div class="flex-container">

  <form class="formContent" th:action="@{${@environment.getProperty('reset_password_url')}}" method="post">
    <div class="form-group">
      <h2 class="contentHeadingInfo contentHeadingReg" th:text="#{forgot_password_title}">Восстановление пароля по
        электронной почте</h2>
      <!--/*@thymesVar id="errorMessage" type="java.lang.String"*/-->
      <div class="alert" th:if="${errorMessage}" th:text="${errorMessage}"></div>
      <p th:text="#{forgot_password_enter_email}">Введите адрес электронной почты, используемый при
        регистрации</p>
      <input type="text" class="input" th:value="${email}" th:placeholder="#{email_placeholder}" name="email"/>
      <div class="panel">
        <button class="button-change" type="submit" th:text="#{forgot_password_recover}">Восстановить</button>
        <h4 class="registration"><a th:href="@{${@environment.getProperty('login_url')}}"
                                    th:text="#{forgot_password_go_to_login}">Вернуться к авторизации</a></h4>
      </div>
    </div>
  </form>
</div>
</body>
</html>