<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Главная</title>
    <link th:rel="stylesheet" th:href="@{/styles/css/main.css}"/>
</head>
<body>
<div th:include="header"> </div>
 <div class="main-container">
     <div class="collection-container">
         <div class="theme">
             <h1 class="theme-title">Животные </h1>
             <p class="theme-count">25</p>
         </div>
         <div class="collection">
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title"> Информатика и вычислительная техника</h3>
                 <p class="counter">34</p>
             </div>
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title"> Информатика и вычислительная техника</h3>
                 <p class="counter">34</p>
             </div>
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title"> Информатика и вычислительная техника</h3>
                 <p class="counter">25</p>
             </div>
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title"> Информатика и вычислительная техника</h3>
                 <p class="counter">34</p>
             </div>
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title"> Информатика и вычислительная техника</h3>
                 <p class="counter">34</p>
             </div>
         </div>
     </div>
     <div class="collection-container">
         <div class="theme">
             <h1 class="theme-title">Профессии </h1>
             <p class="theme-count">34</p>
         </div>
         <div class="collection">
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title"> Информатика и вычислительная техника</h3>
                 <p class="counter">34</p>
             </div>
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title"> Информатика и вычислительная техника</h3>
                 <p class="counter">34</p>
             </div>
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title"> Информатика и вычислительная техника</h3>
                 <p class="counter">25</p>
             </div>
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title"> Информатика и вычислительная техника</h3>
                 <p class="counter">34</p>
             </div>
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title"> Информатика и вычислительная техника</h3>
                 <p class="counter">34</p>
             </div>
         </div>
     </div>
 </div>
</body>
</html>
</html>