<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Главная</title>
    <link th:rel="stylesheet" th:href="@{/styles/css/main.css}"/>
</head>
<body>
<div th:include="header"> </div>
 <div class="main-container">
     <div class="collection-container" th:each="theme : ${themes}">
         <div class="theme">
             <h1 class="theme-title" th:text="${theme.name}">Животные </h1>
             <p class="theme-count" th:text="${theme.topics.size()}">25</p>
         </div>
         <div class="collection" th:each="topic : ${theme.topics}">
             <a th:href="@{${@environment.getProperty('topic_url')}+'/'+${topic.id}}">
             <div class="set">
                 <div class="preview-containter">
                     <img class="preview" th:src="@{images/cat.jpg}" alt="logo">
                 </div>
                 <h3 class="title" th:text="${topic.name}"> Информатика и вычислительная техника</h3>
                 <p class="counter" th:text="${topic.words.size()}">34</p>
             </div>
             </a>
         </div>
     </div>
 </div>
</body>
</html>
</html>