<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Reset password</title>
    <link th:rel="stylesheet" th:href="@{/styles/css/password.css}"/>
</head>

<body>
<form class="formContent" th:action="@{${@environment.getProperty('reset_password_token_url')} + '/'+ ${token}+'/'}"
      th:object="${passwordChanger}" method="post">
    <div class="main-container">

        <h2 class="title" th:text="#{password_title}">Смена пароля</h2>
        <div class="response" th:if="${errorMessage}" th:text="${errorMessage}"></div>
        <input class="input" type="password" th:field="*{password}" th:placeholder="#{password_placeholder}"/>
        <div class="response" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">fds</div>
        <input class="input" type="password" th:field="*{confirmPassword}"
               th:placeholder="#{confirm_password_placeholder}"/>
        <button class="button-change" type="submit" th:text="#{password_reset_button}">Изменить</button>

    </div>
</form>
</body>
</html>